{erl_opts,
 [
  {parse_transform, lager_transform},
  {i, "./_build/default/plugins/gpb/include"},
  debug_info
 ]}.

{deps,
 [
  {blockchain, {git, "git@github.com:helium/blockchain-core.git",
                {branch, "master"}}},
  {helium_proto, ".*", {git, "https://github.com/helium/proto.git", {branch, "master"}}},
  lager,
  recon
 ]}.

{plugins,
 [
  rebar3_gpb_plugin
 ]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{gpb_opts, [
    {i, "src"},
    {o_erl, "src/pb"},
    {o_hrl, "src/pb"},
    {msg_name_prefix, "hf_"},
    {msg_name_suffix, "_pb"},
    {module_name_suffix, "_pb"},
    {strings_as_binaries, false},
    type_specs
]}.
{relx, [{release, {helium_follower, "0.1.0"},
         [
          lager,
          helium_follower
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true},
        {overlay,
         [
          {copy, "priv/genesis", "update/genesis"},
          {copy, "scripts/extensions/genesis", "bin/extensions/genesis"},
          {copy, "./_build/default/lib/blockchain/scripts/extensions/peer", "bin/extensions/peer"},
          {copy, "./_build/default/lib/blockchain/scripts/extensions/ledger", "bin/extensions/ledger"},
          {copy, "./_build/default/lib/blockchain/scripts/extensions/trace", "bin/extensions/trace"},
          {copy, "./_build/default/lib/blockchain/scripts/extensions/txn", "bin/extensions/txn"}
         ]},
        {extended_start_script_hooks,
         [
          {post_start,
           [
            {wait_for_process, blockchain_worker}
           ]}
         ]},
        {extended_start_script_extensions,
         [
          {genesis, "extensions/genesis"},
          {peer, "extensions/peer"},
          {ledger, "extensions/ledger"},
          {trace, "extensions/trace"},
          {txn, "extensions/txn"}
         ]}
       ]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
